<html>
    <head>
        <script>
           
            
        </script>
    </head>
    <body>
        <p>This is the edit page for {{books.id}}</p>
        <form  method="post" action="/booksearch/upd">
        <label for="booktitle">Title</label>
        <input type="text" id="booktitle" name="title" value="{{ books.title }}"><br>
        <label for="bookdate">Date:</label>
        <input type="text" id="bookdate" name="date" value="{{books.date}}"><br>
        <label for="bookloanadm">Loan By:</label>
        <input type="text" id="bookloanadm" name="loanadm" value="{{books.loanadm}}"><br>
        <label for="booklocation">Location:</label>
        <input type="text" id="booklocation" name="location" value="{{books.location}}"><br>
        <label for="bookonloan">Onloan?:</label>
        <input type="text" id="bookonloan" name="onloan" value="{{books.onloan}}"><br>
        <label for="bookreserved">Reserved?:</label>
        <input type="text" id="bookreserved" name="reserved" value="{{books.reserved}}"><br>
        <button type="submit">Update</button>
        

    </body>
</html>