<html>
    <head>
        <h1>Seach by book</h1>
        <script>
            function returntoindex(){
                window.location.href = "/"; 
            }
        </script>
    </head>
    <body>
        Book id: <input type="text"><br>
        <ul>
            <li>
                <div>
                    <h1>Title here</h1>
                    <p>id here</p>
                    <p>Location</p>
                    <p>Loaned by:</p>
                    <p>date: </p>
                    <p>status: </p>
                </div>
            </li>
        </ul>
        <input type="button" value="Return" onclick="returntoindex()">
    </body>
</html>