<html>
    <head>
        <script>
           function forcecancel(){
            loanadm=document.getElementById("bookloanadm");
            loanadm.value="";
            date=document.getElementById("bookdate");
            date.value="";
            onloan=document.getElementById("bookonloan");
            onloan.value="false";
            reserved=document.getElementById("bookreserved");
            reserved.value="false";
           }
           function toggledelete(){
            button=document.getElementById("delflag")
            console.log(button.value);
            if(button.value=="0"){
                button.value="1";
                all=document.getElementsByTagName("body")[0];
                all.style.backgroundColor="#FF7F7F";

            }else{
                button.value="0";
                all=document.getElementsByTagName("body")[0];
                all.style.backgroundColor="white";
            }
            
            }
            
        </script>
    </head>
    <body>
        <p>This is the edit page for {{books.id}}</p>
        <form  method="post" action="/booksearch/upd">
        <input type="hidden" id="bookid" name="id" value="{{ books.id }}"><br>
        <label for="booktitle">Title</label>
        <input type="text" id="booktitle" name="title" value="{{ books.title }}"><br>
        <label for="bookdate">Date:</label>
        <input type="text" id="bookdate" name="date" value="{{books.date}}"><br>
        <label for="bookloanadm">Loan By:</label>
        <input type="text" id="bookloanadm" name="loanadm" value="{{books.loanadm}}"><br>
        <label for="booklocation">Location:</label>
        <input type="text" id="booklocation" name="location" value="{{books.location}}"><br>
        <label for="bookonloan">Onloan?:</label>
        <input type="text" id="bookonloan" name="onloan" value="{{books.onloan}}"><br>
        <label for="bookreserved">Reserved?:</label>
        <input type="text" id="bookreserved" name="reserved" value="{{books.reserved}}"><br>
        <input type="hidden" id="delflag" name="delete" value="0">
        <button type="button" id="delbutton" onclick="toggledelete()">Delete Book</button><br>
        <button type="button" onclick="forcecancel()">Force Cancel Reservation</button><br>
        <button type="submit">Update</button>
        </form>
    </body>
</html>