<html>
    <head>
        <link rel="stylesheet" href="../static/booksearch.css">
        <h1>Search by book</h1>
        <script>
            const book = {{ books | tojson }};
            const profile = {{ profiles | tojson }};
            const loca = {{location | tojson | safe}}
            
            function returntoindex(){
                window.location.href = "/"; 
            }
            function fetchdata(){
                
                let filtered=[];
                let input=document.getElementsByClassName("match")[0];
                search=input.value.toLowerCase();
                let inputlocation=document.getElementsByClassName("matchlocation")[0];
                searchlocation=inputlocation.value.toLowerCase();
                let inputonloan=document.getElementById("matchonloan");
                searchonloan=inputonloan.value.toLowerCase();
                let inputreserved=document.getElementById("matchreserved");
                searchreserved=inputreserved.value.toLowerCase();
                for(let i=0; i<book.length;i++)
                {
                    let checkonloan=(String(book[i].onloan).toLowerCase()==searchonloan)
                    let checkreserved=(String(book[i].reserved).toLowerCase().trim()==String(searchreserved))
                    if(searchonloan==""){
                         checkonloan=true;
                    }
                    if(searchreserved==""){
                        checkreserved=true;
                    }
                    if(checkreserved||checkonloan){
                        checkonloan=true;
                        checkreserved=true;
                    }
                   
                    if(book[i].title.toLowerCase().includes(search)&&
                    book[i].location.toLowerCase().includes(searchlocation)&&
                    checkonloan&&checkreserved){
                        filtered.push(book[i]);
                    }
                }
                if(search==""&&searchlocation==""&&searchonloan==""&&searchreserved=="")
                    filtered=book;
                ul=document.getElementsByClassName("booklist")[0];
                ul.innerHTML="";
                for(let j =0;j<filtered.length;j++)
                {
                    let li=document.createElement("li");
                    li.innerHTML=`
                    <div>
                        <h1>${filtered[j].title}</h1>
                        <p>${filtered[j].id}</p>
                        <p>${filtered[j].location}</p>
                        <p>${filtered[j].loanadm}</p>
                        <p>${filtered[j].date}</p>
                        <p>Onloan: ${filtered[j].onloan}</p>
                        <p>Reserved: ${filtered[j].reserved}</p>
                        <br>
                        <form method="POST" action="/booksearch/edit">
                            <input type="hidden" name="id" value="${filtered[j].id}">
                            <input type="hidden" name="title" value="${filtered[j].title}">
                            <input type="hidden" name="location" value="${filtered[j].location}">
                            <input type="hidden" name="loanadm" value="${filtered[j].loanadm}">
                            <input type="hidden" name="date" value="${filtered[j].date}">
                            <input type="hidden" name="onloan" value="${filtered[j].onloan}">
                            <input type="hidden" name="reserved" value="${filtered[j].reserved}">
                            <button type="submit">Update</button>
                        </form>
                    </div>
                    `;
                    ul.appendChild(li);
                }
                

            }
            window.addEventListener("DOMContentLoaded", fetchdata);
        </script>
    </head>
    <body>
        <div class= "textfield">
            <label>Book title: </label><input type="text" class="match">
        </div>
        
        <div class= "textfield">
            <label>Location : </label> <input type="text" class="matchlocation">
        </div>
        
        <label for="matchonloan">OnLoan?</label>
        <select id="matchonloan" name="Onloan">
            <option value="">Nil</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <label for="matchreserved">Reserved?</label>
        <select id="matchreserved" name="reserved">
            <option value="">Nil</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <input type="button" value="filter" onclick="fetchdata()">
        <ul class="booklist">
            
        </ul>
        <input type="button" value="Return" onclick="returntoindex()">
    </body>
</html>