<html>
    <head>
        <h1>This is the first page index</h1>
        <script>
            //https://flask.palletsprojects.com/en/stable/patterns/javascript/
            const book = {{ books | tojson }};
            const profile = {{ profiles | tojson }};
            const loca = {{location | tojson | safe}}
            function gotobooksearch(){
                window.location.href = "/booksearch"; 
            }
            function gotousersearch(){
                window.location.href="/usersearch";
            }
            function gotologs(){
                window.location.href="/logs";
            }
            function fetchdata(){
                let bookloan=0;
                for(let i=0;i<book.length;i++)
                {   
                    console.log(loca);
                    if(book[i].onloan==true&&book[i].location==loca){
                        bookloan++;
                        
                    }
                    console.log(bookloan);
                }
                loanbook=document.getElementsByClassName("loanbook")[0];
                li=document.createElement("li");
                li.textContent=bookloan;
                loanbook.appendChild(li);
            }
            window.addEventListener("DOMContentLoaded", fetchdata);
        </script>
    </head>
    <body>
        <ul>
            <li>
                <ul class="loanbook">
                    <li><h1>Total books on loan</h1></li>
                </ul>
            </li>
            <li>
                <ul class="resbook">
                    <li><h1>Total books Reserved</h1></li>
                </ul>
                
            </li>
            <li>
                <h1>Total books Available</h1>
            </li>
        </ul>
        <input type="button" onclick="gotobooksearch()" value="Go to booksearch"> <br>
        <input type="button" onclick="gotousersearch()" value="Go to user search"> <br>
        <input type="button" onclick="gotologs()" value="Go to logs"> 
    </body>
</html>