<html>
    <head>
        <h1>Seach by book</h1>
        <script>
            function returntoindex(){
                window.location.href = "/"; 
            }
        </script>
    </head>
    <body>
        User id: <input type="text"><br>
        <ul>
            <li>
                <div>
                    <h1>Adm</h1>
                    <p>fine</p>
                    <p>book1:</p>
                </div>
            </li>
        </ul>
        <input type="button" value="Return" onclick="returntoindex()">
    </body>
</html>