body {
    background-color: #000;
    color: #7fffd4;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-content: center;

}

.pg-title {
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-content: center;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid white;
    background-color: black;
    border-radius: 15px;
    width: 500px;
}



input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(127, 255, 212, 0.25);
}

input[type="text"] {
    vertical-align: middle;
    display: inline-block;
}

input[type="text"] {
    height: 35px;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type="text"]{
    background-color: black;
    color: #7fffd4;
    height: 35px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 0 3px rgba(127, 255, 212, 0.25);
}

.textfield {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.textfield label{
    width: 120px;
    font-weight: 700;
}

.btns{
  display: flex;
  flex-direction: column;
  align-items: center;    
  gap: 12px;               
  width: 100%;             
  margin-top: 20px;
}

.btns button{
  width: 200px;            
  text-align: center;
  background-color: #7fffd4;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  font-weight: 700;
  padding: 8px 14px;
  cursor: pointer;
}

button[type="button"]:hover, button[type="submit"]:hover {
    color: white;
    filter: brightness(0.8);
    transform: translateY(3px);
}

button[type="button"]:active, button[type="submit"]:active {
    color: black;
    filter : brightness(1);
    transform: translateY(7px);
}